.sidebar{
    width: 200px;
    height: 100vh;
    background-color: rgb(25,25,25);
    position: absolute
}
.sidebarText{
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
    position: absolute
}