.hfang{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 45px;
    font-weight: bolder;
    padding-left: 350;
    color: rgb(255,255,255);
    position: absolute;
    left: -0%;
    top: 100%;
    white-space: nowrap;
}
.flex{
    display: flex;
    min-height: 100vh;
    background-color: black; 
    position: relative
}
.main {
    flex: 1;
    padding: 16px;
    color: white;
    position: absolute
}